<h1>Listing Graphs</h1>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @graphs.each do |graph| %>
      <tr>
        <td><%= graph.id %></td>
        <td><%= graph.name %></td>
        <td><%= link_to "Show", graph_path(graph) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>